body {
    background-color: white;
    overflow: hidden;
}
h1 {
    font-family: sans-serif; /* Replace 'YourFont' with your chosen font */
    font-weight: 500; /* Thin font */
    color: black;
}
button, input[type="submit"] {
    font-family: 'YourFont', sans-serif; /* Replace 'YourFont' with your chosen font */
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat {
    border: 1px solid red;
    height: 75vh
}
.messages {
    font-size: 16px;
    padding: 10px;
    border: 3px solid black;
    max-width: 100%;
    height: 100%;
    color:black
}
button {
    width: 10rem;
    height: 3rem;
}
.buttons {
    width: 100%;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
main {
    width: 100%;
    position: absolute;
    bottom: 0;
}